.advItems {
  margin-left: -15px;
  margin-right: -15px;
}
.advItems::after {
  display: block;
  content: "";
  clear: both;
}
.advItem {
  float: left;
}
.blogItems {
  margin-left: -15px;
  margin-right: -15px;
  text-align: center;
  font-size: 0;
}
.blogItem {
  display: inline-block;
  vertical-align: top;
  font-size: 1rem;
}
.stats .wrapper {
  min-height: auto;
  padding: 160px 0;
}
.statItems {
  margin-left: -15px;
  margin-right: -15px;
}
.statItems::after {
  display: block;
  content: "";
  clear: both;
}
.statItem {
  float: left;
}
@media screen and (max-width: 992px) {
  .statItem {
    width: -webkit-calc(50% - 30px);
    width: calc(50% - 30px);
  }
}
@media screen and (max-width: 576px) {
  .statItem {
    width: -webkit-calc(100% - 30px);
    width: calc(100% - 30px);
  }
}
